In [1]:
a=1
b=2
print("before swapping",a,b)
a,b=b,a
print("after swapping",a,b)

before swapping 1 2
after swapping 2 1

In [3]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swap",a,b)
temp=a
a=b
b=temp
print("afer swap",a,b)

enter the value of a: 18
enter the value of b: 12

before swap 18 12
afer swap 12 18

In [5]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swapping a= ",a,"b= ",b)
a=a+b
b=a-b
a=a-b
print("after swapping a= ",a,"b= ",b)

enter the value of a: 18
enter the value of b: 12

before swapping a=  18 b=  12
after swapping a=  12 b=  18

In [9]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swapping a= ",a,"b= ",b)
a=a*b
b=a/b
a=a/b
print("after swpping a= ",a,"b= ",b)

enter the value of a: 18
enter the value of b: 12

before swapping a=  18 b=  12
after swpping a=  12.0 b=  18.0

In [11]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print("before swapping a= ",a,"b= ",b)
a=a^b
b=a^b
a=a^b
print("after swapping a= ",round(a),"b= ",round(b))

enter the value of a: 18
enter the value of b: 12

before swapping a=  18 b=  12
after swapping a=  12 b=  18

In [15]:
r=float(input("enter the value of r:"))
pi=3.14159
a=pi*(r**2)
c=2*pi*r
print(a)
print(c)

enter the value of r: 7.5

176.7144375
47.12385

In [17]:
from math import sqrt,pow
n=16
print(sqrt(n))
print(pow(2,4))

4.0
16.0

In [19]:
from math import sin,cos,tan,radians
angle=20
print("sin:",sin(radians(angle)))
print("cos:",cos(radians(angle)))
print("tan:",tan(radians(angle)))

sin: 0.3420201433256687
cos: 0.9396926207859084
tan: 0.36397023426620234

In [25]:
from math import floor,ceil
num=2.3
print("floor:",floor(num))
print("ceil:",ceil(num))

floor: 2
ceil: 3

In [37]:
from math import log,log10,e
print("natural log:",log(e))
print("log base 10 of 100:",log10(100))
print("e to the power 2:",exp(2))

natural log: 1.0
log base 10 of 100: 2.0
e to the power 2: 7.38905609893065

In [29]:
from math import log, log10, e
print("natural log:",log(e))
print("log base 10 of 100:", log10(100))
print("e to the power 2:", exp(2))

natural log: 1.0
log base 10 of 100: 2.0
e to the power 2: 7.38905609893065

In [35]:
from datetime import datetime
now=datetime.now()
print("current time:",now)
print("date:",now.date())
print("time:",now.time())

current time: 2025-05-09 11:17:10.837403
date: 2025-05-09
time: 11:17:10.837403

In [39]:
from datetime import datetime
now=datetime.now()
print("current time:",now)
print("date:",now.date())
print("time:",now.time())

current time: 2025-05-09 11:18:23.868163
date: 2025-05-09
time: 11:18:23.868163

In [45]:
import calendar
print(calendar.month(2025,5))

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [65]:
import calendar
year=2025
print(calendar.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [67]:
import calendar
leaps=calendar.leapdays(2003,2025)
print(leaps,end=' ')

6

In [71]:
from datetime import date
d1=date(2025,5,9)
d2=date(2025,1,1)
diff=d1-d2
print("difference in dates:",diff.days)

difference in dates: 128

In [77]:
from datetime import date
today=date.today()
name=today.strftime("%A")
print("today:",name)

today: Friday

In [ ]:
import calendar
from datetime import date
year=2025
month=9
f=date(year,month,1)
l=date(year,month,calendar.monthrange(year